##### Import pandas & openpyxl libraries

In [1]:
import pandas as pd, openpyxl
from openpyxl import load_workbook

Load workbook into memory

In [2]:
wb = load_workbook(r'C:\data\gecdb_files\data_uploads\COG_Ogouee\2017\00\normalized\COG_Ogouee_normalized.xlsx')

List worksheets

In [3]:
wb.worksheets

[<Worksheet "Metadata">,
 <Worksheet "Survey Strata">,
 <Worksheet "Transects">,
 <Worksheet "Recces">,
 <Worksheet "Transect Observations">,
 <Worksheet "Recce Observations">,
 <Worksheet "Sheet1">,
 <Worksheet "Recce Voyages Observations">,
 <Worksheet "Recce Observations (3)">,
 <Worksheet "Observation Codes">,
 <Worksheet "Species Codes">,
 <Worksheet "Survey Team">,
 <Worksheet "Missions">,
 <Worksheet "Key">,
 <Worksheet "Log">]

##### Isolate specific sheet

In [4]:
ws = wb["Sheet1"]
ws

In [5]:
# wb["Recce Observations"] #.sheet_names wb["Missions"]
# ws = wb["Recce Observations"]
# ws

In [6]:
type(ws)

openpyxl.worksheet.worksheet.Worksheet

define where data exists

In [7]:
data = ws.values
data

Read in column names

In [8]:
cols = next(data) # reads in first row, 
cols #[:10]

('waypoint_id', 'date')

Return data as a list

In [9]:
data = list(data)
data[:2] #display first two rows

[(181, '11 aout 2017'), (177, '11 aout 2017')]

Read data into dataframe and then display head

In [10]:
df = pd.DataFrame(data, columns=cols)
df.head()

   waypoint_id          date
0          181  11 aout 2017
1          177  11 aout 2017
2          178  11 aout 2017
3          172  11 aout 2017
4          189  11 aout 2017

In [11]:
df.count()

waypoint_id    650
date           650
dtype: int64

In [12]:
df = df[:651]

In [13]:
df.count()

waypoint_id    650
date           650
dtype: int64

Create series to hold column(s) of interest and encode as string

In [14]:
sd_series = df['date']
sd_series.str.encode(encoding="utf-8")
type(sd_series)

# ed_series = df['end_date'][:58]
# ed_series.str.encode(encoding="utf-8")
# type(ed_series)

pandas.core.series.Series

In [15]:
sd_series

0           11 aout 2017
1           11 aout 2017
2           11 aout 2017
3           11 aout 2017
4           11 aout 2017
5           11 aout 2017
6           11 aout 2017
7           11 aout 2017
8           11 aout 2017
9           11 aout 2017
10          11 aout 2017
11          11 aout 2017
12          11 aout 2017
13          11 aout 2017
14          11 aout 2017
15          11 aout 2017
16          11 aout 2017
17          11 aout 2017
18          11 aout 2017
19          11 aout 2017
20          11 aout 2017
21          11 aout 2017
22          11 aout 2017
23           6 aout 2017
24           6 aout 2017
25           6 aout 2017
26           6 aout 2017
27           6 aout 2017
28           6 aout 2017
29           6 aout 2017
             ...
620    18 septembre 2017
621    18 septembre 2017
622    18 septembre 2017
623    18 septembre 2017
624    18 septembre 2017
625    18 septembre 2017
626    18 septembre 2017
627    18 septembre 2017
628    23 septembre 2017
629    23 septembre 2017
630    23 septembre 2017
631    23 septembre 2017
632    23 septembre 2017
633    23 septembre 2017
634    23 septembre 2017
635    23 septembre 2017
636    23 septembre 2017
637    23 septembre 2017
638    23 septembre 2017
639    23 septembre 2017
640    24 septembre 2017
641    24 septembre 2017
642    24 septembre 2017
643    24 septembre 2017
644    24 septembre 2017
645    24 septembre 2017
646    24 septembre 2017
647    24 septembre 2017
648    24 septembre 2017
649    24 septembre 2017
Name: date, Length: 650, dtype: object

#### Import dateparser module

In [16]:
import dateparser

example showing parsing of one string

In [17]:
date_value = dateparser.parse('23 fevr. 2017')
date_value

datetime.datetime(2017, 2, 23, 0, 0)

In [18]:
type(df['date'])

pandas.core.series.Series

##### Assign parameters to help parse the date fields correctly

create a for-loop which parses dates from 'start_date' field

In [19]:
p_date = [dateparser.parse(x).date() for x in sd_series]
p_date[:5]

[datetime.date(2017, 8, 11),
 datetime.date(2017, 8, 11),
 datetime.date(2017, 8, 11),
 datetime.date(2017, 8, 11),
 datetime.date(2017, 8, 11)]

In [20]:
# p_end_date = [dateparser.parse(x).date() for x in ed_series]
# p_end_date[:5]

##### Use dateparser to parse dates in the dataframe

Add new column to dataframe to store parsed_dates

In [21]:
p_df = df.assign(date = p_date) #parsed_date
p_df.head()

   waypoint_id        date
0          181  2017-08-11
1          177  2017-08-11
2          178  2017-08-11
3          172  2017-08-11
4          189  2017-08-11

openpyxl method for writing to worksheet

In [22]:
# change directory
import os
os.chdir(r"C:\code\gecfi\excel_dateparser")

In [23]:
dest_filename = r"C:\code\\gecfi\excel_dateparser\example_table.xlsx"
dest_sheetname = 'Waypoints2_parsed'

# used pandas.DataFrame.to_excel to write DataFrame to an excel sheet
p_df.to_excel(excel_writer=dest_filename, sheet_name=dest_sheetname)

In [ ]:
% whos

In [ ]:
# This saved my life when I overwrote the data!
wb.save(r'C:\code\gecfi\excel_dateparser\please_work.xlsx')