##### Import pandas & openpyxl libraries

In [2]:
import pandas as pd, openpyxl
from openpyxl import load_workbook

Load workbook into memory

In [9]:
# wb = load_workbook(r'C:\data\gecdb_files\data_uploads\COG_Ogouee\2017\00\normalized\COG_Ogouee_normalized.xlsx')
wb = load_workbook(r'C:\data\gecdb_files\data_uploads\CMR_Takamanda\2013\00\work\_observations\Takamanda-recces_2013.xlsx')

List worksheets

In [10]:
wb.worksheets

##### Isolate specific sheet

In [11]:
ws = wb["data"]
ws

In [12]:
# wb["Recce Observations"] #.sheet_names wb["Missions"]
# ws = wb["Recce Observations"]
# ws

In [13]:
type(ws)

openpyxl.worksheet.worksheet.Worksheet

define where data exists

In [21]:
data = ws.values
data

Read in column names

In [22]:
cols = next(data) # reads in first row, 
cols[:2]
# two_cols = cols[:2]
# two_cols

('Date', 'Time')

Return data as a list

In [23]:
data = list(data)
data[:2] #display first two rows
# two_data = data[:2]
# two_data

[(datetime.datetime(2013, 5, 21, 0, 0),
  '10:42:31',
  6.10323333333333,
  9.404855,
  165.3,
  'Takamanda',
  'GORILLA_GUARD_2',
  'Wildlife survey',
  'AE',
  'ZA EM JN PN DN FO',
  'RECORD START POINT',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (datetime.datetime(2013, 5, 21, 0, 0),
  '10:43:56',
  6.10295333333333,
  9.404865,
  192.5,
  'Takamanda',
  'GORILLA_GUARD_2',
  'Wildlife survey',
  'AE',
  'ZA EM JN PN DN FO',
  'Weather and Vegetation',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'Sunny')]

Read data into dataframe and then display head

In [24]:
df = pd.DataFrame(data, columns=cols)
df.head()

,Date,Time,Latitude,Longitude,Altitude,Location,Unit_ID,work_type,Observer_name,team_members,...,Age,Human activity,Farming Type,Logging Type,Hunting Type,Gun Evidence,Trapping Evidence,remove_trap,traps_observed,Weather
0,2013-05-21,10:42:31,6.103233,9.404855,165.3,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,None,NaN,None
1,2013-05-21,10:43:56,6.102953,9.404865,192.5,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,None,NaN,Sunny
2,2013-05-21,10:45:17,6.103090,9.404838,179.4,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,None,NaN,None
3,2013-05-21,11:00:38,6.103187,9.405983,152.9,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,None,NaN,Sunny
4,2013-05-21,11:02:08,6.103038,9.405970,161.7,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,None,NaN,None

In [25]:
df.count()

Date                 3305
Time                 3305
Latitude             3174
Longitude            3174
Altitude             1886
Location             3305
Unit_ID              3305
work_type            3305
Observer_name        3305
team_members         3262
Observation          3305
Note                  405
animal_type          1299
species              1299
sign_type            1299
Age                  1435
Human activity        528
Farming Type           59
Logging Type            6
Hunting Type          131
Gun Evidence           65
Trapping Evidence      66
remove_trap            62
traps_observed          4
Weather               551
dtype: int64

In [26]:
df = df[:3305]

In [27]:
df.count()

Date                 3305
Time                 3305
Latitude             3174
Longitude            3174
Altitude             1886
Location             3305
Unit_ID              3305
work_type            3305
Observer_name        3305
team_members         3262
Observation          3305
Note                  405
animal_type          1299
species              1299
sign_type            1299
Age                  1435
Human activity        528
Farming Type           59
Logging Type            6
Hunting Type          131
Gun Evidence           65
Trapping Evidence      66
remove_trap            62
traps_observed          4
Weather               551
dtype: int64

#### Create series to hold column(s) of interest and encode as string

In [28]:
# sd_series = df['local_date']
sd_series = df['Time']
# sd_series.str.encode(encoding="utf-8")
type(sd_series)

# ed_series = df['end_date'][:58]
# ed_series.str.encode(encoding="utf-8")
# type(ed_series)

pandas.core.series.Series

In [29]:
sd_series

0       10:42:31
1       10:43:56
2       10:45:17
3       11:00:38
4       11:02:08
5       11:05:30
6       11:06:17
7       11:08:06
8       11:09:07
9       11:12:03
10      11:14:28
11      11:15:17
12      11:20:19
13      11:21:10
14      11:29:24
15      11:41:26
16      11:43:27
17      11:51:59
18      12:05:55
19      12:07:28
20      12:14:49
21      12:19:56
22      12:43:29
23      13:03:32
24      13:09:40
25      13:10:32
26      13:36:42
27      13:37:58
28      13:42:40
29      13:43:43
          ...
3275    11:00:22
3276    11:00:50
3277    11:17:16
3278    11:18:43
3279    11:31:51
3280    11:34:50
3281    11:40:17
3282    11:57:16
3283    12:05:37
3284    12:06:16
3285    12:16:02
3286    12:17:53
3287    12:58:28
3288    12:59:38
3289    14:17:08
3290    14:20:19
3291    14:26:38
3292    14:38:51
3293    14:41:45
3294    14:44:11
3295    14:52:10
3296    14:59:03
3297    15:00:20
3298    15:59:34
3299    16:00:11
3300    16:09:31
3301    16:29:59
3302    16:42:49
3303    17:26:01
3304    17:30:22
Name: Time, Length: 3305, dtype: object

#### Import dateparser module

In [30]:
import dateparser

example showing parsing of one string

In [31]:
date_value = dateparser.parse('23 fevr. 2017')
date_value

datetime.datetime(2017, 2, 23, 0, 0)

In [33]:
type(df['Time'])

pandas.core.series.Series

##### Assign parameters to help parse the date fields correctly

create a for-loop which parses dates from 'start_date' field

In [34]:
# p_date = [dateparser.parse(x).date() for x in sd_series]
p_time = [dateparser.parse(x).time() for x in sd_series]
p_time[:5]

[datetime.time(10, 42, 31),
 datetime.time(10, 43, 56),
 datetime.time(10, 45, 17),
 datetime.time(11, 0, 38),
 datetime.time(11, 2, 8)]

Ensure p_time (parsed_time) is a Pandas series so that we can use Pandas .strip() or .rstrip() function 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.strip.html

In [35]:
s = pd.Series(p_time)
type(s)

pandas.core.series.Series

In [36]:
s.head()

0    10:42:31
1    10:43:56
2    10:45:17
3    11:00:38
4    11:02:08
dtype: object

In [37]:
# str((p_time[1])).strip()
# strip_p_time = str((p_time[x])).strip() for x in p_time()
s.str.rstrip()

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
3275   NaN
3276   NaN
3277   NaN
3278   NaN
3279   NaN
3280   NaN
3281   NaN
3282   NaN
3283   NaN
3284   NaN
3285   NaN
3286   NaN
3287   NaN
3288   NaN
3289   NaN
3290   NaN
3291   NaN
3292   NaN
3293   NaN
3294   NaN
3295   NaN
3296   NaN
3297   NaN
3298   NaN
3299   NaN
3300   NaN
3301   NaN
3302   NaN
3303   NaN
3304   NaN
Length: 3305, dtype: float64

### TODO: still an issue with trailing spaces:
#### This sanitize_spaces method is interesting and might be able to help fix this issue

In [38]:
san_time = dateparser.date.sanitize_spaces(str(p_time[1])) ##for x in p_time
san_time[:5]

'10:43'

##### Use dateparser to parse dates in the dataframe

Add new column to dataframe to store parsed_dates

In [39]:
p_df = df.assign(parsed_time = p_time) #parsed_date
p_df.head()

,Date,Time,Latitude,Longitude,Altitude,Location,Unit_ID,work_type,Observer_name,team_members,...,Human activity,Farming Type,Logging Type,Hunting Type,Gun Evidence,Trapping Evidence,remove_trap,traps_observed,Weather,parsed_time
0,2013-05-21,10:42:31,6.103233,9.404855,165.3,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,NaN,None,10:42:31
1,2013-05-21,10:43:56,6.102953,9.404865,192.5,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,NaN,Sunny,10:43:56
2,2013-05-21,10:45:17,6.103090,9.404838,179.4,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,NaN,None,10:45:17
3,2013-05-21,11:00:38,6.103187,9.405983,152.9,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,NaN,Sunny,11:00:38
4,2013-05-21,11:02:08,6.103038,9.405970,161.7,Takamanda,GORILLA_GUARD_2,Wildlife survey,AE,ZA EM JN PN DN FO,...,None,None,None,None,None,None,None,NaN,None,11:02:08

openpyxl method for writing to worksheet

In [26]:
# change directory
import os
os.chdir(r"C:\code\gecfi\excel_dateparser")

In [27]:
dest_filename = r"C:\data\gecdb_files\data_uploads\COG_NgNtPi\2014\00\work\_observations\NgPtPi_time_fixed.xlsx"
dest_sheetname = 'NgPtPi_time_fixed2'

# used pandas.DataFrame.to_excel to write DataFrame to an excel sheet
p_df.to_excel(excel_writer=dest_filename, sheet_name=dest_sheetname)

#### TODO: trailing zero on time is still not fixed

In [ ]:
% whos

In [ ]:
# This saved my life when I overwrote the data!
wb.save(r'C:\code\gecfi\excel_dateparser\please_work.xlsx')