##### Import pandas and openpyxl libraries

In [14]:
import pandas as pd, openpyxl
from openpyxl import load_workbook

Load workbook into memory

In [15]:
wb = load_workbook('example_table.xlsx', data_only=True) #read_only=True, #guess_types=True)

List worksheets

In [16]:
wb.worksheets

Isolate specific sheet

In [17]:
wb["Missions"] #.sheet_names
ws = wb["Missions"]
ws

define where data exists

In [18]:
data = ws.values
data

Read in column names

In [19]:
cols = next(data)
cols

('mission_id', 'start_date', 'end_date')

Return data as a list

In [20]:
data = list(data)
data[:2]

[(1, '21 mars 2017', '29 mars 2017'), (2, '1 aout 2016', '15 aout 2016')]

Read data into dataframe and then display head

In [21]:
df = pd.DataFrame(data, columns=cols)
df.head()

   mission_id    start_date       end_date
0           1  21 mars 2017   29 mars 2017
1           2   1 aout 2016   15 aout 2016
2           3  1 juil. 2016  17 juil. 2016
3           4  1 juil. 2016  18 juil. 2016
4           5  1 juil. 2016  15 juil. 2016

Create series to hold column(s) of interest and encode as string

In [23]:
sd_series = df['start_date'][:58]
sd_series.str.encode(encoding="utf-8")
type(sd_series)

ed_series = df['end_date'][:58]
ed_series.str.encode(encoding="utf-8")
type(ed_series)

pandas.core.series.Series

#### Import dateparser module

In [24]:
import dateparser

example showing parsing of one string

In [26]:
date_value = dateparser.parse('23 fevr. 2017')
date_value

datetime.datetime(2017, 2, 23, 0, 0)

In [29]:
type(df['start_date'])

pandas.core.series.Series

##### Assign parameters to help parse the date fields correctly

create a for-loop which parses dates from 'start_date' field

In [30]:
p_start_date = [dateparser.parse(x).date() for x in sd_series]
p_start_date[:5]

[datetime.date(2017, 3, 21),
 datetime.date(2016, 8, 1),
 datetime.date(2016, 7, 1),
 datetime.date(2016, 7, 1),
 datetime.date(2016, 7, 1)]

In [31]:
p_end_date = [dateparser.parse(x).date() for x in ed_series]
p_end_date[:5]

[datetime.date(2017, 3, 29),
 datetime.date(2016, 8, 15),
 datetime.date(2016, 7, 17),
 datetime.date(2016, 7, 18),
 datetime.date(2016, 7, 15)]

##### Use dateparser to parse dates in the dataframe

Add new column to dataframe to store parsed_dates

In [32]:
type(df['start_date'])

pandas.core.series.Series

Add new column to dataframe to store parsed_dates

In [33]:
p_df = df.assign(start_date = p_start_date, end_date = p_end_date)
p_df.head()

   mission_id  start_date    end_date
0           1  2017-03-21  2017-03-29
1           2  2016-08-01  2016-08-15
2           3  2016-07-01  2016-07-17
3           4  2016-07-01  2016-07-18
4           5  2016-07-01  2016-07-15

openpyxl method for writing to worksheet

In [34]:
# change directory
import os
os.chdir(r"C:\code\excel_dateparser")

In [36]:
dest_filename = r"C:\code\excel_dateparser\example_table_parsed.xlsx"
dest_sheetname = 'Missions_parsed'

# used pandas.DataFrame.to_excel to write DataFrame to an excel sheet
p_df.to_excel(excel_writer=dest_filename, sheet_name=dest_sheetname)