##### Import pandas & openpyxl libraries

In [1]:
import pandas as pd, openpyxl
from openpyxl import load_workbook

Load workbook into memory

In [2]:
# wb = load_workbook(r'C:\data\gecdb_files\data_uploads\COG_Ogouee\2017\00\normalized\COG_Ogouee_normalized.xlsx')
wb = load_workbook(r'C:/data/gecdb_files/data_uploads/COG_NgNtPi/2014/00/work/_observations/COG_NgNtPi_transect_obs.xlsx')

List worksheets

In [3]:
wb.worksheets

##### Isolate specific sheet

In [4]:
ws = wb["copied_times"]
ws

In [5]:
# wb["Recce Observations"] #.sheet_names wb["Missions"]
# ws = wb["Recce Observations"]
# ws

In [6]:
type(ws)

openpyxl.worksheet.worksheet.Worksheet

define where data exists

In [7]:
data = ws.values
data

Read in column names

In [8]:
cols = next(data) # reads in first row, 
cols[:2]
# two_cols = cols[:2]
# two_cols

('index', 'time')

Return data as a list

In [9]:
data = list(data)
data #[:2] #display first two rows
# two_data = data[:2]
# two_data

[(25346, '\xa06:51:59'),
 (25347, '\xa06:52:59'),
 (25348, '\xa06:53:59'),
 (25349, '\xa06:54:59'),
 (25350, '\xa06:55:59'),
 (25351, '\xa06:56:59'),
 (25352, '\xa06:57:59'),
 (25353, '\xa06:58:59'),
 (25354, '\xa06:59:59'),
 (25355, '\xa07:00:59'),
 (25356, '\xa07:02:05'),
 (25357, '\xa07:03:05'),
 (25358, '\xa07:04:05'),
 (25359, '\xa07:05:05'),
 (25360, '\xa07:06:05'),
 (25361, '\xa07:07:05'),
 (25362, '\xa07:08:05'),
 (25363, '\xa07:09:05'),
 (25364, '\xa07:10:05'),
 (25365, '\xa07:11:05'),
 (25366, '\xa07:12:05'),
 (25367, '\xa07:13:05'),
 (25368, '\xa07:14:05'),
 (25369, '\xa07:15:05'),
 (25370, '\xa07:16:05'),
 (25371, '\xa07:17:05'),
 (25372, '\xa07:18:05'),
 (25373, '\xa07:19:05'),
 (25374, '\xa07:20:05'),
 (25375, '\xa07:21:05'),
 (25376, '\xa07:22:05'),
 (25377, '\xa07:23:05'),
 (25378, '\xa07:24:05'),
 (25379, '\xa07:25:05'),
 (25380, '\xa07:26:05'),
 (25381, '\xa07:27:05'),
 (25382, '\xa07:28:05'),
 (25383, '\xa07:29:05'),
 (25384, '\xa07:30:05'),
 (25385, '\xa07:31:05'),
 (25386, '\xa07:32:05'),
 (25387, '\xa07:33:05'),
 (25388, '\xa07:34:05'),
 (25389, '\xa07:35:05'),
 (25390, '\xa07:36:05'),
 (25391, '\xa07:37:05'),
 (25392, '\xa07:38:05'),
 (25393, '\xa07:39:05'),
 (25394, '\xa07:40:05'),
 (25395, '\xa07:41:05'),
 (25396, '\xa07:42:05'),
 (25397, '\xa07:43:05'),
 (25398, '\xa07:44:05'),
 (25399, '\xa07:45:05'),
 (25400, '\xa07:46:05'),
 (25401, '\xa07:47:05'),
 (25402, '\xa07:48:05'),
 (25403, '\xa07:49:05'),
 (25404, '\xa07:50:05'),
 (25405, '\xa07:51:05'),
 (25406, '\xa07:52:23'),
 (25407, '\xa07:53:23'),
 (25408, '\xa07:54:23'),
 (25409, '\xa07:55:23'),
 (25410, '\xa07:56:22'),
 (25411, '\xa07:57:23'),
 (25412, '\xa07:58:23'),
 (25413, '\xa07:59:23'),
 (25414, '\xa08:00:23'),
 (25415, '\xa08:01:23'),
 (25416, '\xa08:02:23'),
 (25417, '\xa08:03:23'),
 (25418, '\xa08:04:23'),
 (25419, '\xa08:05:23'),
 (25420, '\xa08:06:23'),
 (25421, '\xa08:07:23'),
 (25422, '\xa08:08:23'),
 (25423, '\xa08:09:23'),
 (25424, '\xa08:10:23'),
 (25425, '\xa08:11:23'),
 (25426, '\xa08:12:23'),
 (25427, '\xa08:13:23'),
 (25428, '\xa08:14:23'),
 (25429, '\xa08:15:23'),
 (25430, '\xa08:16:23'),
 (25431, '\xa08:17:23'),
 (25432, '\xa08:18:23'),
 (25433, '\xa08:19:23'),
 (25434, '\xa08:20:23'),
 (25435, '\xa08:21:23'),
 (25436, '\xa08:22:23'),
 (25437, '\xa08:23:23'),
 (25438, '\xa08:24:23'),
 (25439, '\xa08:25:23'),
 (25440, '\xa08:26:23'),
 (25441, '\xa08:27:23'),
 (25442, '\xa08:28:23'),
 (25443, '\xa08:29:23'),
 (25444, '\xa08:30:23'),
 (25445, '\xa08:31:23'),
 (25446, '\xa08:32:23'),
 (25447, '\xa08:33:23'),
 (25448, '\xa08:34:23'),
 (25449, '\xa08:35:23'),
 (25450, '\xa08:36:23'),
 (25451, '\xa08:37:23'),
 (25452, '\xa08:38:23'),
 (25453, '\xa08:39:23'),
 (25454, '\xa08:40:23'),
 (25455, '\xa08:41:23'),
 (25456, '\xa08:42:23'),
 (25457, '\xa08:43:23'),
 (25458, '\xa08:44:23'),
 (25459, '\xa08:45:23'),
 (25460, '\xa08:46:23'),
 (25461, '\xa08:47:23'),
 (25462, '\xa08:48:23'),
 (25463, '\xa08:49:23'),
 (25464, '\xa08:50:23'),
 (25465, '\xa08:51:23'),
 (25466, '\xa08:52:23'),
 (25467, '\xa08:53:23'),
 (25468, '\xa08:54:23'),
 (25469, '\xa08:55:23'),
 (25470, '\xa08:56:23'),
 (25471, '\xa08:57:23'),
 (25472, '\xa08:58:23'),
 (25473, '\xa08:59:23'),
 (25474, '\xa09:00:23'),
 (25475, '\xa09:01:23'),
 (25476, '\xa09:02:23'),
 (25477, '\xa09:03:23'),
 (25478, '\xa09:04:23'),
 (25479, '\xa09:05:23'),
 (25480, '\xa09:06:23'),
 (25481, '\xa09:07:23'),
 (25482, '\xa09:08:23'),
 (25483, '\xa09:09:23'),
 (25484, '\xa09:10:23'),
 (25485, '\xa09:11:23'),
 (25486, '\xa09:12:23'),
 (25487, '\xa09:13:23'),
 (25488, '\xa09:14:23'),
 (25489, '\xa09:14:59'),
 (25490, '\xa09:16:00'),
 (25491, '\xa09:17:00'),
 (25492, '\xa09:18:00'),
 (25493, '\xa09:19:00'),
 (25494, '\xa09:20:00'),
 (25495, '\xa09:21:00'),
 (25496, '\xa09:22:00'),
 (25497, '\xa09:23:00'),
 (25498, '\xa09:24:00'),
 (25499, '\xa09:25:00'),
 (25500, '\xa09:26:00'),
 (25501, '\xa09:27:00'),
 (25502, '\xa09:28:00'),
 (25503, '\xa09:29:00'),
 (25504, '\xa09:30:00'),
 (25505, '\xa09:31:00'),
 (25506, '\xa09:32:00'),
 (25507, '\xa09:33:00'),
 (25508, '\xa09:34:00'),
 (25509, '\xa09:35:00'),
 (25510, '\xa09:35:01'),
 (25511, '\xa09:35:02'),
 (25512, '\xa09:35:06'),
 (25513, '\xa09:36:07'),
 (25514, '\xa09:37:07'),
 (25515, '\xa09:38:07'),
 (25516, '\xa09:39:07'),
 (25517, '\xa09:40:07'),
 (25518, '\xa09:41:07'),
 (25519, '\xa09:42:07'),
 (25520, '\xa09:43:07'),
 (25521, '\xa09:44:07'),
 (25522, '\xa09:45:07'),
 (25523, '\xa09:46:07'),
 (25524, '\xa09:47:07'),
 (25525, '\xa09:48:07'),
 (25526, '\xa09:49:07'),
 (25527, '\xa09:50:07'),
 (25528, '\xa09:51:07'),
 (25529, '\xa09:52:07'),
 (25530, '\xa09:53:07'),
 (25531, '\xa09:54:07'),
 (25532, '\xa09:55:07'),
 (25533, '\xa09:56:07'),
 (25534, '\xa09:57:07'),
 (25535, '\xa09:58:07'),
 (25536, '\xa09:59:07')]

Read data into dataframe and then display head

In [10]:
df = pd.DataFrame(data, columns=cols)
df.head()

   index      time
0  25346   6:51:59
1  25347   6:52:59
2  25348   6:53:59
3  25349   6:54:59
4  25350   6:55:59

In [11]:
df.count()

index    191
time     191
dtype: int64

In [12]:
df = df[:191]

In [13]:
df.count()

index    191
time     191
dtype: int64

#### Create series to hold column(s) of interest and encode as string

In [14]:
# sd_series = df['local_date']
sd_series = df['time']
# sd_series.str.encode(encoding="utf-8")
type(sd_series)

# ed_series = df['end_date'][:58]
# ed_series.str.encode(encoding="utf-8")
# type(ed_series)

pandas.core.series.Series

In [15]:
sd_series

0       6:51:59
1       6:52:59
2       6:53:59
3       6:54:59
4       6:55:59
5       6:56:59
6       6:57:59
7       6:58:59
8       6:59:59
9       7:00:59
10      7:02:05
11      7:03:05
12      7:04:05
13      7:05:05
14      7:06:05
15      7:07:05
16      7:08:05
17      7:09:05
18      7:10:05
19      7:11:05
20      7:12:05
21      7:13:05
22      7:14:05
23      7:15:05
24      7:16:05
25      7:17:05
26      7:18:05
27      7:19:05
28      7:20:05
29      7:21:05
         ...
161     9:33:00
162     9:34:00
163     9:35:00
164     9:35:01
165     9:35:02
166     9:35:06
167     9:36:07
168     9:37:07
169     9:38:07
170     9:39:07
171     9:40:07
172     9:41:07
173     9:42:07
174     9:43:07
175     9:44:07
176     9:45:07
177     9:46:07
178     9:47:07
179     9:48:07
180     9:49:07
181     9:50:07
182     9:51:07
183     9:52:07
184     9:53:07
185     9:54:07
186     9:55:07
187     9:56:07
188     9:57:07
189     9:58:07
190     9:59:07
Name: time, Length: 191, dtype: object

#### Import dateparser module

In [16]:
import dateparser

example showing parsing of one string

In [17]:
date_value = dateparser.parse('23 fevr. 2017')
date_value

datetime.datetime(2017, 2, 23, 0, 0)

In [19]:
type(df['time'])

pandas.core.series.Series

##### Assign parameters to help parse the date fields correctly

create a for-loop which parses dates from 'start_date' field

In [20]:
# p_date = [dateparser.parse(x).date() for x in sd_series]
p_time = [dateparser.parse(x).time() for x in sd_series]
p_time[:5]

[datetime.time(6, 51, 59),
 datetime.time(6, 52, 59),
 datetime.time(6, 53, 59),
 datetime.time(6, 54, 59),
 datetime.time(6, 55, 59)]

Ensure p_time (parsed_time) is a Pandas series so that we can use Pandas .strip() or .rstrip() function 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.strip.html

In [21]:
s = pd.Series(p_time)
type(s)

pandas.core.series.Series

In [22]:
s.head()

0    06:51:59
1    06:52:59
2    06:53:59
3    06:54:59
4    06:55:59
dtype: object

In [23]:
# str((p_time[1])).strip()
# strip_p_time = str((p_time[x])).strip() for x in p_time()
s.str.rstrip()

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
       ..
161   NaN
162   NaN
163   NaN
164   NaN
165   NaN
166   NaN
167   NaN
168   NaN
169   NaN
170   NaN
171   NaN
172   NaN
173   NaN
174   NaN
175   NaN
176   NaN
177   NaN
178   NaN
179   NaN
180   NaN
181   NaN
182   NaN
183   NaN
184   NaN
185   NaN
186   NaN
187   NaN
188   NaN
189   NaN
190   NaN
Length: 191, dtype: float64

### TODO: still an issue with trailing spaces:
#### This sanitize_spaces method is interesting and might be able to help fix this issue

In [24]:
san_time = dateparser.date.sanitize_spaces(str(p_time[1])) ##for x in p_time
san_time[:5]

'06:52'

##### Use dateparser to parse dates in the dataframe

Add new column to dataframe to store parsed_dates

In [25]:
p_df = df.assign(parsed_time = p_time) #parsed_date
p_df.head()

   index      time parsed_time
0  25346   6:51:59    06:51:59
1  25347   6:52:59    06:52:59
2  25348   6:53:59    06:53:59
3  25349   6:54:59    06:54:59
4  25350   6:55:59    06:55:59

openpyxl method for writing to worksheet

In [26]:
# change directory
import os
os.chdir(r"C:\code\gecfi\excel_dateparser")

In [27]:
dest_filename = r"C:\data\gecdb_files\data_uploads\COG_NgNtPi\2014\00\work\_observations\NgPtPi_time_fixed.xlsx"
dest_sheetname = 'NgPtPi_time_fixed2'

# used pandas.DataFrame.to_excel to write DataFrame to an excel sheet
p_df.to_excel(excel_writer=dest_filename, sheet_name=dest_sheetname)

#### TODO: trailing zero on time is still not fixed

In [ ]:
% whos

In [ ]:
# This saved my life when I overwrote the data!
wb.save(r'C:\code\gecfi\excel_dateparser\please_work.xlsx')