##### Import pandas and openpyxl libraries

In [1]:
import pandas as pd, openpyxl
from openpyxl import load_workbook

Load workbook into memory

In [2]:
wb = load_workbook('example_table.xlsx', data_only=True) #read_only=True, #guess_types=True)

List worksheets

In [8]:
wb.worksheets

Isolate specific sheet

In [9]:
# wb["Recce Observations"] #.sheet_names wb["Missions"]
ws = wb["Missions"]
ws

define where data exists

In [10]:
data = ws.values
data

Read in column names

In [11]:
cols = next(data)
cols

('mission_id', 'start_date', 'end_date')

Return data as a list

In [12]:
data = list(data)
data[:2]

[(1, '21 mars 2017', '29 mars 2017'), (2, '1 aout 2016', '15 aout 2016')]

Read data into dataframe and then display head

In [13]:
df = pd.DataFrame(data, columns=cols)
df.head()

   mission_id    start_date       end_date
0           1  21 mars 2017   29 mars 2017
1           2   1 aout 2016   15 aout 2016
2           3  1 juil. 2016  17 juil. 2016
3           4  1 juil. 2016  18 juil. 2016
4           5  1 juil. 2016  15 juil. 2016

Create series to hold column(s) of interest and encode as string

In [14]:
sd_series = df['start_date'][:58]
sd_series.str.encode(encoding="utf-8")
type(sd_series)

ed_series = df['end_date'][:58]
ed_series.str.encode(encoding="utf-8")
type(ed_series)

pandas.core.series.Series

In [19]:
sd_series

0      21 mars 2017
1       1 aout 2016
2      1 juil. 2016
3      1 juil. 2016
4      1 juil. 2016
5      1 juil. 2016
6        1 mai 2016
7     16 fevr. 2017
8      16 mars 2017
9     17 fevr. 2017
10    17 fevr. 2017
11    19 fevr. 2017
12    19 janv. 2017
13     2 juil. 2016
14     2 juil. 2016
15     2 juil. 2016
16      2 juin 2016
17       2 mai 2016
18    20 fevr. 2017
19    20 fevr. 2017
20    20 janv. 2017
21    20 janv. 2017
22     21 mars 2017
23     21 mars 2017
24     21 mars 2017
25     21 mars 2017
26     22 mars 2017
27     22 mars 2017
28    23 janv. 2017
29    23 janv. 2017
30    24 janv. 2017
31    26 fevr. 2016
32    26 janv. 2016
33    26 janv. 2017
34      26 mai 2016
35      26 mai 2016
36     27 aout 2016
37     27 aout 2016
38     27 aout 2016
39    27 fevr. 2016
40     27 mars 2016
41     27 mars 2016
42     27 mars 2016
43     28 aout 2016
44     28 avr. 2016
45     28 mars 2016
46    29 fevr. 2016
47    29 janv. 2016
48    29 janv. 2016
49    29 juil. 2016
50    29 juil. 2016
51    29 juil. 2016
52     30 avr. 2016
53    30 juil. 2016
54    30 juil. 2016
55    30 juil. 2016
56     30 mars 2016
57      31 mai 2016
Name: start_date, dtype: object

#### Import dateparser module

In [20]:
import dateparser

example showing parsing of one string

In [21]:
date_value = dateparser.parse('23 fevr. 2017')
date_value

datetime.datetime(2017, 2, 23, 0, 0)

In [22]:
type(df['start_date'])

pandas.core.series.Series

##### Assign parameters to help parse the date fields correctly

create a for-loop which parses dates from 'start_date' field

In [23]:
p_start_date = [dateparser.parse(x).date() for x in sd_series]
p_start_date[:5]

[datetime.date(2017, 3, 21),
 datetime.date(2016, 8, 1),
 datetime.date(2016, 7, 1),
 datetime.date(2016, 7, 1),
 datetime.date(2016, 7, 1)]

In [24]:
p_end_date = [dateparser.parse(x).date() for x in ed_series]
p_end_date[:5]

[datetime.date(2017, 3, 29),
 datetime.date(2016, 8, 15),
 datetime.date(2016, 7, 17),
 datetime.date(2016, 7, 18),
 datetime.date(2016, 7, 15)]

##### Use dateparser to parse dates in the dataframe

Add new column to dataframe to store parsed_dates

In [ ]:
p_df = df.assign(start_date = p_start_date, end_date = p_end_date)
p_df.head()

openpyxl method for writing to worksheet

In [ ]:
# change directory
import os
os.chdir(r"C:\code\excel_dateparser")

In [ ]:
dest_filename = r"C:\code\excel_dateparser\example_table_parsed.xlsx"
dest_sheetname = 'Missions_parsed'

# used pandas.DataFrame.to_excel to write DataFrame to an excel sheet
p_df.to_excel(excel_writer=dest_filename, sheet_name=dest_sheetname)